
.cartItem{
    border-radius: 10px;
    background: #997474;
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin: 2%;
}
.cartImg{
    width: 10%;
    height: 5%;
}
.cartInternal{
    /* background: #e7c2c2; */
    margin-top: 10%;
    word-wrap: break-word;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:5%
}

.removeCart{
    font-size: 1.2rem;
    border: 2px solid #997474;
    padding: 1%;
}